# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# OS/editor
.DS_Store
.vscode/

# Ignore Model Weights and Logs
artifacts/checkpoints/
artifacts/logs/
results/runs/
*.pth

# Ignore heavy datasets and generated tensors
data/raw/
data/interim/
data/processed/tensors/
*.pt

# Ignore large archives (like the one we just downloaded)
*.zip
*.tar.gz
